@model ContractFarming.Models.Season

@{
    ViewData["Title"] = "المواسم";
}
<!-- Content wrapper -->
<div class="content-wrapper">
    <!-- Content -->






    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="breadcrumb-wrapper py-3 mb-4">
            <span class="text-muted fw-light "> <a asp-action="Index">المواسم </a> /</span> إضافة موسم
        </h4>
        <div class="col-12 col-md-8 col-xl-7 mb-4 mb-md-0">
            <div class="card ">


                <div class="offcanvas-body flex-grow-0 mx-0">
                    <form asp-action="AddOrEdit" class="add-new-record " id="valid" onsubmit=" ">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" a />
                        <div class="col-sm-12">
                            <label asp-for="SeasonName" class="control-lable"> الاسم</label>
                            <input asp-for="SeasonName" class="form-control dt-full-name" type="text" placeholder="الاسم" aria-label="132456" aria-describedby="basicFullname2">
                            <span asp-validation-for="SeasonName" class="text-danger"></span>
                            <div class="fv-plugins-message-container invalid-feedback"></div>
                        </div>
                        <div class="col-sm-12 fv-plugins-icon-container">
                            <label asp-for="Start_date" class="control-lable">تاريخ البدء </label>
                            <input asp-for="Start_date" class="form-control" type="text" placeholder="تاريخ البدء" aria-label="132456" aria-describedby="basicFullname2">
                            <span asp-validation-for="Start_date" class="text-danger"></span>

                            <div class="fv-plugins-message-container invalid-feedback"></div>
                        </div>
                        <div class="col-sm-12 fv-plugins-icon-container">
                            <label asp-for="End_date" class="control-lable">  تاريخ الإنتهاء</label>
                            <input asp-for="End_date" class="form-control" type="text" placeholder=" تاريخ الإنتهاء" aria-label="132456" aria-describedby="basicFullname2">
                            <span asp-validation-for="End_date" class="text-danger"></span>
                            <div class="fv-plugins-message-container invalid-feedback"></div>
                        </div>


                        <div class="col-sm-12 mt-5">
                            <button asp-action="AddOrEdit" type="submit" class="btn btn-primary data-submit me-1 me-sm-3 w-100 ">حفظ</button>
                        </div>
                        <div class="col-sm-12">
                            <button asp-action="Index" class="btn btn-outline-secondary w-100 mt-1">
                                إلغاء
                            </button>
                        </div>



                    </form>
                </div>
            </div>




            <!-- / Layout wrapper -->
        </div>
    </div>
</div>

</div>
        </div>

