@model ContractFarming.Models.InvestmentCard
@{
    ViewData["Title"] = "البطائق الإستثمارية";
}


<!-- Content wrapper -->
<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="breadcrumb-wrapper py-3 mb-4">
            <span class="text-muted fw-light"> <a asp-action="Index">البطائق الإستثمارية </a> /</span> إضافة بطاقةإستثمارية
        </h4>
        <div class="col-12 col-md-8 col-xl-7 mb-4 mb-md-0">
            <div class="card ">


                <div class="offcanvas-body flex-grow-0 mx-0">
                    <form asp-action="AddOrEdit" method="post" class="add-new-record " id="valid" onsubmit=" " enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" a />

                        <div class="col-sm-12 fv-plugins-icon-container">
                            <label asp-for="Title" class="control-lable"> عنوان البطاقة</label>
                            <input asp-for="Title" class="form-control" type="text" placeholder="" aria-label="132456" aria-describedby="basicFullname2">
                            <span asp-validation-for="Title" class="text-danger"></span>

                            <div class="fv-plugins-message-container invalid-feedback"></div>
                        </div>


                        @*<div class="col-sm-12">
            <label asp-for="Product.Classification" class="control-lable"> التصنيف</label>
            <input asp-for="Product.Classification" class="form-control dt-full-name" type="text" placeholder="" aria-label="132456" aria-describedby="basicFullname2">
            <span asp-validation-for="Product.Classification" class="text-danger"></span>
            <div class="fv-plugins-message-container invalid-feedback"></div>
        </div>*@
                        <div class="form-group">
                            <label asp-for="ImageUrl" class="form-label" for="basicEmail">ارفاق صورة</label>
                            <div class="input-group">
                                <input asp-for="ImageUrl" type="file" class="form-control" id="inputGroupFile04" id="File" name="file"
                                       aria-describedby="inputGroupFileAddon04" aria-label="Upload">

                            </div>
                            <span asp-validation-for="ImageUrl" class="text-danger"></span>



                            <div class="form-group">
                                <label asp-for="Attachment" class="form-label" for="basicEmail">ارفاق ملف</label>
                                <div class="input-group">
                                    <input asp-for="Attachment" type="file" class="form-control" id="inputGroupFile04" id="File" name="File"
                                           aria-describedby="inputGroupFileAddon04" aria-label="Upload">

                                </div>
                                <span asp-validation-for="Attachment" class="text-danger"></span>





                                <div class="col-sm-12 ">
                                    <label class="form-label" for="basicFullname"> المنتجين</label>

                                    <select asp-for="ProducerId" asp-items="@( new SelectList (ViewBag.producer,"Id","FullName") )" id="item-group-a" class="select2 form-select form-select-lg" data-allow-clear="true"
                                            id="product" class="form-control dt-full-name" name="producers" aria-label="product"
                                            aria-describedby="basicFullname2">
                                    </select>
                                    <span asp-validation-for="ProducerId" class="text-danger"></span>
                                </div>


                                @*<div class="col-sm-12 ">
                                    <label class="form-label" for="basicFullname"> اسم المنتج</label>

                                    <select asp-for="ProductId" asp-items="@( new SelectList (ViewBag.product,"Id","Name") )" id="item-group-a" class="select2 form-select form-select-lg" data-allow-clear="true"
                                            id="product" class="form-control dt-full-name" name="product" aria-label="product"
                                            aria-describedby="basicFullname2">
                                    </select>
                                    <span asp-validation-for="ProductId" class="text-danger"></span>
                                </div>*@


                                <div class="col-sm-12 fv-plugins-icon-container">
                                    <label asp-for="StartDate" class="control-lable"> تاريخ البدء</label>
                                    <input asp-for="StartDate" class="form-control" type="text" placeholder="" aria-label="132456" aria-describedby="basicFullname2">
                                    <span asp-validation-for="StartDate" class="text-danger"></span>

                                    <div class="fv-plugins-message-container invalid-feedback"></div>
                                </div>
                                <div class="col-sm-12 fv-plugins-icon-container">
                                    <label asp-for="ExpirationDate" class="control-lable">تاريخ الإنتهاء</label>
                                    <input asp-for="ExpirationDate" class="form-control" type="text" placeholder=" " aria-label="132456" aria-describedby="basicFullname2">
                                    <span asp-validation-for="ExpirationDate" class="text-danger"></span>
                                    <div class="fv-plugins-message-container invalid-feedback"></div>
                                </div>







                                <div class="col-sm-12 mt-5">
                                    <button asp-action="AddOrEdit" type="submit" class="btn btn-primary data-submit me-1 me-sm-3 w-100 ">حفظ</button>
                                </div>
                                <div class="col-sm-12">
                                    <button asp-action="Index" class="btn btn-outline-secondary w-100 mt-1">
                                        إلغاء
                                    </button>
                                </div>



</form>
                </div>
            </div>




            <!-- / Layout wrapper -->
        </div>
    </div>
</div>



