
    <!-- Spinner Start -->
    <!-- Spinner End -->
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top px-4 px-lg-5 py-lg-0">
        <a asp-controller="Investment" asp-action="ProductName" class="navbar-brand d-flex align-items-center">
            <h1 class="m-0">
                <i class="fa fa-building text-primary me-3"></i>رجوع
            </h1>
        </a>
        <button type="button"
                class="navbar-toggler"
                data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

    </nav>
    <!-- Navbar End -->
    <!-- Video Modal Start -->
    <div class="modal modal-video fade"
         id="videoModal"
         tabindex="-1"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">

    </div>
    <!-- Video Modal End -->
    <div class="card">
        <div class="container py-5" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s;">
            <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
                <h5 class="fw-bold text-primary text-uppercase">الاسعار</h5>

            </div>
        </div>
        <div class="container-xxl py-5">
            <div class="table-responsive text-nowrap">
                <table class="table table-bordered">
                    <thead style="    background-color:#2EB872; color: aliceblue;">
                        <tr>
                            <th style="    text-align: -webkit-center;">العام الماضي</th>
                            <th style="    text-align: -webkit-center;">العام الحالي</th>
                            <th style="    text-align: -webkit-center;">الفارق</th>

                        </tr>
                        <tr>
                            <th>
                                <ul class="list-unstyled users-list avatar-group d-flex align-items-center m-0" style="    justify-content: space-between;">
                                    <li>الموسم</li>
                                    <li>الشهر</li>
                                    <li>السعر</li>
                                    <li></li>

                                </ul>
                            </th>
                            <th>
                                <ul class="list-unstyled users-list avatar-group d-flex align-items-center m-0" style="    justify-content: space-between;">
                                    <li>الموسم</li>
                                    <li>الشهر</li>
                                    <li>السعر</li>
                                    <li></li>

                                </ul>
                            </th>
                            <th>
                                <ul class="list-unstyled users-list avatar-group d-flex align-items-center m-0" style="    justify-content: space-between;">
                                    <li>الموسم</li>
                                    <li>الشهر</li>


                                </ul>
                            </th>


                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        <tr>
                            <th>
                                <ul class="list-unstyled users-list avatar-group d-flex align-items-center m-0" style="    justify-content: space-between;">
                                    <li>.</li>
                                    <li></li>
                                    <li></li>
                                    <li></li>

                                </ul>
                            </th>
                            <th>
                                <ul class="list-unstyled users-list avatar-group d-flex align-items-center m-0" style="    justify-content: space-between;">
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>

                                </ul>
                            </th>
                            <th>
                                <ul class="list-unstyled users-list avatar-group d-flex align-items-center m-0" style="    justify-content: space-between;">
                                    <li></li>
                                    <li></li>


                                </ul>
                            </th>


                        </tr>
                        <tr>
                            <th>
                                <ul class="list-unstyled users-list avatar-group d-flex align-items-center m-0" style="    justify-content: space-between;">
                                    <li>.</li>
                                    <li></li>
                                    <li></li>
                                    <li></li>

                                </ul>
                            </th>
                            <th>
                                <ul class="list-unstyled users-list avatar-group d-flex align-items-center m-0" style="    justify-content: space-between;">
                                    <li>.</li>
                                    <li></li>
                                    <li></li>
                                    <li></li>

                                </ul>
                            </th>
                            <th>
                                <ul class="list-unstyled users-list avatar-group d-flex align-items-center m-0" style="    justify-content: space-between;">
                                    <li></li>
                                    <li></li>


                                </ul>
                            </th>


                        </tr>
                        <tr>
                            <th>
                                <ul class="list-unstyled users-list avatar-group d-flex align-items-center m-0" style="    justify-content: space-between;">
                                    <li>.</li>
                                    <li></li>
                                    <li></li>
                                    <li></li>

                                </ul>
                            </th>
                            <th>
                                <ul class="list-unstyled users-list avatar-group d-flex align-items-center m-0" style="    justify-content: space-between;">
                                    <li>.</li>
                                    <li></li>
                                    <li></li>
                                    <li></li>

                                </ul>
                            </th>
                            <th>
                                <ul class="list-unstyled users-list avatar-group d-flex align-items-center m-0" style="    justify-content: space-between;">
                                    <li>.</li>
                                    <li></li>


                                </ul>
                            </th>


                        </tr>
                        <tr>
                            <th>
                                <ul class="list-unstyled users-list avatar-group d-flex align-items-center m-0" style="    justify-content: space-between;">
                                    <li>.</li>
                                    <li></li>
                                    <li></li>
                                    <li></li>

                                </ul>
                            </th>
                            <th>
                                <ul class="list-unstyled users-list avatar-group d-flex align-items-center m-0" style="    justify-content: space-between;">
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>

                                </ul>
                            </th>
                            <th>
                                <ul class="list-unstyled users-list avatar-group d-flex align-items-center m-0" style="    justify-content: space-between;">
                                    <li></li>
                                    <li></li>


                                </ul>
                            </th>


                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

  
