@model List<Categories>


    <body>
        <!-- Spinner Start -->
        <!-- Spinner End -->
        <!-- Topbar Start -->
        <!-- Topbar End -->
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top px-4 px-lg-5 py-lg-0">
            <a asp-controller="Investment" asp-action="Index"
               class="navbar-brand d-flex align-items-center">
                <h1 class="m-0">
                    <i class="fa fa-building text-primary me-3"></i>رجوع
                </h1>
            </a>
            <button type="button"
                    class="navbar-toggler"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

        </nav>
        <!-- Navbar End -->
        <!-- Page Header Start -->
        <!-- Page Header End -->
        <!-- About Start -->
        <!-- About End -->
        <!-- Team Start -->

        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-5 align-items-end mb-5">
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="border-start border-5 border-primary ps-4">
                            <h6 class="text-body text-uppercase mb-2"></h6>
                            <h1 class="display-6 mb-0">منتجات</h1>
                        </div>
                    </div>

                </div>

                @if (!Model.Any())
                {
                    <div class="alert alert-warning" role="alert">
                       لاتوجد اي منتجات بعد
                    </div>
                }


                @foreach (var items in Model)
                {

                    <div class=" row g-4">

                        <a href="/Investment/ProductName/@items.Id">
                            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-wow-delay="0.5s">

                                <div class="team-item position-relative">
                                    <img class="img-fluid" src="/Home/assets/img/team-4.jpg" alt="" />
                                    <div class="team-text bg-white p-4">
                                        <h5><a class="navbar-brand d-flex align-items-center"></a>@items.ProductType</h5>


                                    </div>
                                </div>

                            </div>
                        </a>



                    </div>
                }

            </div>  <!-- Team End -->
    </body> 